<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/registerpage/css/style.css}"/>
</head>
<body>
<div class="scene-register">
    <div class="div">
        <div class="overlap">
            <div class="text-wrapper">Hola Cuisine Restaurant</div>
            <a th:href="@{/home}">
                <div class="overlap-group">
                    <div class="text-wrapper-2">Home</div>
                    <img class="ic-round-home" th:src="@{/loginpage/img/ic-round-home.svg}"/>
                </div>
            </a>
        </div>
        <div class="overlap-2">
            <div class="overlap-3">
                <img class="rectangle" th:src="@{/registerpage/img/rectangle-2.png}"/>
                <div class="rectangle-2">
                    <div class="p">@Copyright 2023 Hola Cuisine Restaurant</div>
                </div>

            </div>
            <div class="overlap-group-2">
                <div class="text-wrapper-3">Register</div>
                <p class="text-wrapper-4">Sign up to your account</p>

                <div class="div-wrapper">
                    <input name="firstName" id="firstName" type="text" placeholder="First name"
                                                style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                    <div id="errorMessageFirstname" style="color: red;"></div>

                </div>
                <div class="overlap-4">
                    <div class="rectangle-3">
                        <input name="lastName" id="lastName" type="text" placeholder="Last name"
                                                    style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                        <div id="errorMessageLastname" style="color: red;"></div>
                    </div>
                    <div class="rectangle-4"></div>
                </div>
                <div class="overlap-5">
                    <input name="email" type="text" id="email" placeholder="Email"
                                              style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                    <div id="errorMessageEmail" style="color: red;"></div>
                </div>
                <div class="overlap-6">
                    <div class="rectangle-3">
                        <input name="password" type="password" id="password" placeholder="Password"
                                                    style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                        <div id="errorMessagePassword" style="color: red;"></div>
                    </div>
                    <div class="rectangle-5"></div>
                </div>
                <div class="overlap-7">
                    <input name="phone" type="text" id="phone" placeholder="Phone"
                                              style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                    <div id="errorMessagePhone" style="color: red;"></div>
                </div>
                <div class="overlap-8">
                    <input name="username" type="text" id="username" placeholder="Username"
                                              style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                    <div id="errorMessageUsername" style="color: red;"></div>
                </div>
                <div class="overlap-9">
                    <div class="rectangle-3">
                        <input name="address" type="text" id="address" placeholder="Address"
                                                    style="height: 37px;width: 245px;background-color: #d9d9d9;"/>
                        <div id="errorMessageAddress" style="color: red;"></div>
                    </div>
                    <div class="rectangle-5"></div>
                </div>
                <div class="overlap-10">
                        <button id="submit" onclick="register()" style="width: 573px;height: 37px;top: 318px;left: 24px;background-color: #94bfff;">Create account</button>
                </div>

                <div class="overlap-11">
                    <div class="text-wrapper-12"><a th:href="@{/login}">Already have an account? Login</a></div>
                    <img class="envelope-solid" th:src="@{/registerpage/img/envelope-solid-2.svg}"/>
                </div>
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
                <div class="rectangle-9"></div>
                <div class="rectangle-10"></div>
                <div class="rectangle-11"></div>
                <p class="text-wrapper-13"></p>
                <div class="text-wrapper-14">Or</div>
            </div>
        </div>
    </div>
</div>

<script>

    function register() {
        var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        var phoneRegex = /^[0-9]{10}$/;
        const firstName = document.getElementById('firstName').value;
        const lastName = document.getElementById('lastName').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const phone = document.getElementById('phone').value;
        const username = document.getElementById('username').value;
        const address = document.getElementById('address').value;
        validateName(firstName, lastName);
        validateEmail(email);
        validateAddress(address);
        validatePhone(phone);
        validatePassword(password);
        validateUsername(username);

        //Email
        if (email === '') {
            document.getElementById('errorMessageEmail').textContent = 'Email cannot be blank';
        }
        if (!emailRegex.test(email)) {
            email = '';
            document.getElementById('errorMessageEmail').textContent = 'Invalid email (vv@vv.vv)';
        }
        if (email != '') {
            const data = {
                email: email
            }
            var requestOptions = {
                method:'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch('http://localhost:8088/hcr/person/email', requestOptions)
            .then(function (response) {
                if (response.status == 200) {
                    email = '';
                    document.getElementById('errorMessageEmail').textContent = 'Email has been used!';
                    return response.json();
                } else {
                    document.getElementById('errorMessageEmail').textContent = '';
                }
            })
        }

        //Name
        if (firstName === '' && lastName != '') {
            document.getElementById('errorMessageFirstname').textContent = 'First name cannot be blank';
            document.getElementById('errorMessageLastname').textContent = '';
        }
        if (firstName != '' && lastName === '') {
            document.getElementById('errorMessageFirstname').textContent = '';
            document.getElementById('errorMessageLastname').textContent = 'Last name cannot be blank';
        }
        if (firstName === '' && lastName === '') {
            document.getElementById('errorMessageFirstname').textContent = 'First name cannot be blank';
            document.getElementById('errorMessageLastname').textContent = 'Last name cannot be blank';
        }
        if (firstName != '' && lastName != '') {
            document.getElementById('errorMessageFirstname').textContent = '';
            document.getElementById('errorMessageLastname').textContent = '';
        }

        //Address
        if (address === '') {
            document.getElementById('errorMessageAddress').textContent = 'Address cannot be blank';
        }
        if (address != '') {
            document.getElementById('errorMessageAddress').textContent = '';
        }

        //Phone
        if (phone === '') {
            document.getElementById('errorMessagePhone').textContent = 'Phone cannot be blank';
        }
        if (!phoneRegex.test(phone)) {
            phone = '';
            document.getElementById('errorMessagePhone').textContent = 'Invalid phone (10 numbers)';
        } else {
            document.getElementById('errorMessagePhone').textContent = '';
        }

        //Password
        if (password === '') {
            document.getElementById('errorMessagePassword').textContent = 'Password cannot be blank';
        }
        if (password != '') {
            document.getElementById('errorMessagePassword').textContent = '';
        }

        //Username
        if (username === '') {
            document.getElementById('errorMessageUsername').textContent = 'Username cannot be blank';
        }
        if (username != '') {
            document.getElementById('errorMessageUsername').textContent = '';
            const data = {
                userName: username
            }
            var requestOptions = {
                method:'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch('http://localhost:8088/hcr/person/username', requestOptions)
            .then(function (response) {
                if (response.status == 200) {
                    document.getElementById('errorMessageUsername').textContent = 'Username has been used!';
                    username = '';
                    return response.json();
                } else {
                    document.getElementById('errorMessageUsername').textContent = '';
                }
            })
        }
        if (document.getElementById('errorMessageUsername').textContent != '') {
            username = '';
        }
        console.log(username);

        if (firstName != '' && lastName != '' && password != '' && phone != '' && address != ''
            && email != '' && username != '') {
            const data = {
            firstName: firstName,
            lastName: lastName,
            address: address,
            email: email,
            phoneNumber: phone,
            password: password,
            gender: 1,
            userName: username
            }
            var requestOptions = {
                method:'POST',
                headers: {
                 'Content-type': 'application/json'
                 },
                body: JSON.stringify(data)
            }
            fetch('http://localhost:8088/hcr/register', requestOptions)
            .then(function (response) {
                if (response.status == 200) {
                    return response.json(); // Parse the response as JSON
                } else {
                    throw new Error('Request failed with status: ' + response.status);
                }
            })
            alert('Successful!');
        }

    }

    function validateEmail(email) {
        var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (email === '') {
            return document.getElementById('errorMessageEmail').textContent = 'Email cannot be blank';
        }
        if (!emailRegex.test(email)) {
            return document.getElementById('errorMessageEmail').textContent = 'Invalid email (vv@vv.vv)';
        } else {
            document.getElementById('errorMessageEmail').textContent = '';

            const data = {
                email: email
            }
            var requestOptions = {
                method:'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch('http://localhost:8088/hcr/person/email', requestOptions)
            .then(function (response) {
                if (response.status == 200) {
                    document.getElementById('errorMessageEmail').textContent = 'Email has been used!';
                    return response.json();
                } else {
                    document.getElementById('errorMessageEmail').textContent = '';

                }
            })

        }
    }

    function validateName(firstName, lastName) {
        if (firstName === '' && lastName != '') {
            document.getElementById('errorMessageFirstname').textContent = 'First name cannot be blank';
            document.getElementById('errorMessageLastname').textContent = '';
        }
        if (firstName != '' && lastName === '') {
            document.getElementById('errorMessageFirstname').textContent = '';
            document.getElementById('errorMessageLastname').textContent = 'Last name cannot be blank';
        }
        if (firstName === '' && lastName === '') {
            document.getElementById('errorMessageFirstname').textContent = 'First name cannot be blank';
            document.getElementById('errorMessageLastname').textContent = 'Last name cannot be blank';
        }
        if (firstName != '' && lastName != '') {
            document.getElementById('errorMessageFirstname').textContent = '';
            document.getElementById('errorMessageLastname').textContent = '';
        }
    }

    function validateAddress(address){
        if (address === '') {
            return document.getElementById('errorMessageAddress').textContent = 'Address cannot be blank';
        }
        if (address != '') {
            return document.getElementById('errorMessageAddress').textContent = '';
        }
    }

    function validatePhone(phone){
        var phoneRegex = /^[0-9]{10}$/;
        if (phone === '') {
            return document.getElementById('errorMessagePhone').textContent = 'Phone cannot be blank';
        }
        if (!phoneRegex.test(phone)) {
            return document.getElementById('errorMessagePhone').textContent = 'Invalid phone (10 numbers)';
        } else {
            document.getElementById('errorMessagePhone').textContent = '';
        }
    }

    function validatePassword(password){
        if (password === '') {
            return document.getElementById('errorMessagePassword').textContent = 'Password cannot be blank';
        }
        if (password != '') {
            return document.getElementById('errorMessagePassword').textContent = '';
        }
    }

    function validateUsername(username){
        if (username === '') {
            return document.getElementById('errorMessageUsername').textContent = 'Username cannot be blank';
        }
        if (username != '') {
            document.getElementById('errorMessageUsername').textContent = '';
            const data = {
                userName: username
            }
            var requestOptions = {
                method:'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch('http://localhost:8088/hcr/person/username', requestOptions)
            .then(function (response) {
                if (response.status == 200) {
                    document.getElementById('errorMessageUsername').textContent = 'Username has been used!';
                    return response.json();
                } else {
                    document.getElementById('errorMessageUsername').textContent = '';

                }
            })
        }
    }

    function registerToDB(){
        const data = {
            firstName: firstName,
            lastName: lastName,
            address: address,
            email: email,
            phoneNumber: phone,
            password: password,
            gender: 1,
            userName: username
        }
        var requestOptions = {
            method:'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(data)
        }
        fetch('http://localhost:8088/hcr/register', requestOptions)
        .then(function (response) {
            if (response.status == 200) {
                return response.json(); // Parse the response as JSON
            } else {
                throw new Error('Request failed with status: ' + response.status);
            }
        })
    }

</script>

</body>
</html>
